.portfolio {
    justify-content: center;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    align-content: center;
    background-color: #ffffff;
    padding: 10rem 2rem;

    &__header {
        text-align: left;
        display: block;
        width: 100rem;

        h3 {
            font-size: 3rem;
            font-family: josefinsans;
            color:var(--color-text-primary)
        }
      }

      &__container {
        width: 100rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }


    & h4 {
        font-size: 2rem;
    }

      &__categories {
        display: flex;
        justify-content: center;
        gap: 1.1rem;
        flex-wrap: wrap;
        padding-top: 5rem;
    }

    &__projects {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        align-items: start;

         /* MEDIA QUERIES (phone) */
         @media screen and (max-width: 37.5em) {
            grid-template-columns: 1fr;
        }

        & span {
            color: var(--color-primary);
            font-size: 1.4rem;
            font-family: monospace;
            display: block;
            text-align: left;
        }
    }

    &__project-image {
        background: transparent;
        margin-bottom: 1.5rem;
        overflow: hidden;
    }
    
    &__project p {
        margin: 0.5rem 0 2rem;
    }
    
    &__project-cta {
        display: inline-block;
        z-index: 1;
        margin-top: 3rem;

     
        & a {
            display: inline-block;
        }
    }

    &__project-tools{
        margin-top: 1rem;

        & span:nth-child(even){
            margin: 1.5rem 1.5rem 0 1.5rem;
        }

        & span{
            display: inline-block;
        }
    }
    
    &__project:hover .btn.sm {
        border-color: var(--color-white);
    }
    
    &__project:hover .btn.sm.primary {
        background: transparent;
        color: var(--color-primary);
        border-color: var(--color-primary);
    }

    &__arrow {
        align-self: center;
    }
    
}

.portfolio__project-content {
    display: flex;
    // flex-wrap: wrap;
    margin-bottom: 6rem;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width:56.5em){
        flex-direction: row-reverse;
        gap: 1rem;
        
         &-left {
            width: 50%;
        }

        &-right {
            width: 50%;

        }

        &:nth-child(odd){
            flex-direction: row;
            text-align: right;
        }
    
        & div:nth-child(even){
            text-align: left;
        }
    
    }

  

   
   

    & h4{
        color: var(--color-text-primary);
    }

    & p{
        font-size: 1.6rem;
        padding-top: 1.5rem;
    }

   
}


.slideUp {
    transform: translateY(200%);
      opacity: 0;
      animation: slide-in 1s ease-out forwards;
      animation-delay: 1s;
      color: var(--color-white);
    animation: slideUp 4s;
  }
  
  @keyframes slideUp {
      0% {
          opacity: 0;
      transform: translateY(200%);
      }
      100% {
          opacity: 1;
          transform: translateY(0%);
      }
  }

.card .porfolio__project {
    animation: animateProject 800ms ease-in forwards;
}

@keyframes animateProject {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


