.heading__secondary {
  font-size: 1.8rem;
  padding: 2rem 3rem;
  font-family: inherit;
  color: var(--color-black);
  margin:-1px;
  border: 0;
  text-align: center;
}

.heading__sub, .heading__list {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  color: var(--color-black);
  font-family: openSans;
}
