.heading__secondary {
  font-size: 1.8rem;
  padding: 2rem 3rem;
  font-family: inherit;
  color: var(--color-black);
  margin:-1px;
  border: 0;
  text-align: center;
}

.heading__sub, .heading__list {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  color: var(--color-black);
  font-family: openSans;
}


.textEffect {
  border:0;
  background-size: 1240%;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-black) 50%);
  transition: background-position 3s;
  transition-delay: 1s;
  width: 100%;
  overflow: hidden;
 

  &__cover{
    background-position: 100%;
    & > p, ul, h2, h3 {
      transform: translateY(200%);
      opacity: 0;
      animation: slide-in 1s ease-out forwards;
      animation-delay: 1s;
      color: var(--color-white);
    }
  }
}


@keyframes slide-in {
	0% {
		opacity: 0;
    transform: translateY(200%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}