.about {
    transition: var(--transition);
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    align-content: center;
    background-color: #ffffff;
    padding: 10rem 2rem 15rem 2rem;


    &__header {
        text-align: left;
        display: block;
        width: 100rem;
        
        
        & h3 {
            font-size: 3rem;
            color:var(--color-text-primary);
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100rem;
        flex-direction: column-reverse;
        gap: 2rem;

        @media screen and (min-width: 56em) {
        flex-direction: row;
        }

    }

    &__content {
        font-family: openSans, Arial, Helvetica, sans-serif;
        align-self: end;
        font-size: 1.6rem;
        border: 0;
        overflow: hidden;
        padding-right: 4rem;
        
    }

    &__right{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    
    }

    &__right-cta{
        font-size: 1.6rem;
        text-align: center;
        border: 1px solid;
        border-color: var(--color-primary);
        margin-top: 4rem;
        max-width: 15rem;
        padding: 1rem 0;
    }

    &__right-cta a {
        padding: 1rem;
        color: var(--color-white);
    }


    &__image{
        width: 20rem;
        height: 20rem;
        position: relative;

        & img {
            position: absolute;
            top: -30px;
            left: -15px;
            z-index: 1;
        }
    }
}

