.header {
    transition: var(--transition);
    padding: 10rem 2rem;
    background: var(--color-body);
    

    &__logo {
        width: 30%;
        height: 100%;
        display: block;
        margin: 0 auto;
        fill: var(--color-primary);
    }

    &__container {
        max-width: 100rem;
        margin: 0 auto;
    }


    &__main {
        text-align: left;
        display: inline-block;

        & h1, & h2 {
            font-size: 3rem;
            letter-spacing: -.1rem;
            margin-bottom: -.1rem;
            font-family: josefinsans;

            @media screen and (min-width:26.5em){
                font-size: clamp(40px, 8vw, 80px);
            }
        }

        & h2 {
            color: var(--color-primary);
        }
     
    }


    &__greetings {
        font-size: 1.3rem;
        padding-bottom: 1rem;
        font-family: openSans, sans-serif, monospace;
        color: var(--color-black);

        @media screen and (min-width:26.5em){
            font-size: 1.8rem;
        }

    }

    &__desc {
        font-family: openSans, sans-serif, monospace;
        font-size: 1.3rem; 
        color: var(--color-black);
        padding-top: 1rem;
        max-width: 50rem;

        @media screen and (min-width:26.5em){
            font-size: 1.8rem;
        }
        
    }

    &__btns {
        width: 40%;
        position: absolute;
        bottom: 5rem;
        display: inline-block;
    }

    .btn {
        font-family: openSans;
        width: 15rem;
        height: 5rem;
        font-size: 1.6rem;
        text-align: center;
    }

    .btn--primary {
        border-radius: 0;
        border: 1px solid  var(--color-primary);
        background-color: transparent;
    }
}

.Typewriter {
    display: inline-block;
}






