.card {
  background: transparent;
  padding: 1.5rem;
  border: 1px solid var(--color-white);
  transition: var(--transition);
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: 'openSans';
}


.card.light {
  background: transparent;
}
