.card {
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 15px -1px, rgba(0, 0, 0, 0.3) 0px 1px 13px -1px;
  overflow: hidden;
  background-color: var(--color-body);
}

.card__header, .card__body {
  padding: 2rem 3rem
}

.card--primary .card__header{
  background: var(--color-primary);
  color: #fff;
}
.card--secondary .card__header{
  background: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary{
  background: #02cdf1;
}

.card--primary .badge--primary{
  background: #126de4;
}
