nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    z-index: 9;
    transition: var(--transition);
    background: transparent;
    position: absolute;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 5.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.6rem;
}

.nav__logo-svg{
    fill: var(--color-primary);
}

.nav__menu {
    display: flex;
    gap: 2.5rem;
    
}

.nav__menu > li > a {
    color: var(--color-primary);
}

/* HIDE NAV MENU ON TABLETS AND PHONES */
@media screen and (max-width: 1024px) {
    .nav__menu {
        display: none;
    }

    .nav__logo{
        display: flex;
        justify-content: center;
    }
}