.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--color-body);
  max-width: 100rem;

  
  &__logo {
    width: 5rem;
    fill: var(--color-white);

    @media screen and (min-width:37.5em){
      fill: var(--color-primary);
    }
  }

  &__icon {
    display: block;
    cursor: pointer;
    margin: auto 0;

    & span {
      height: 3px;
      width: 3rem;
      margin: 6px;
      display: block;
      background-color: var(--color-white);
    }

    @media screen and (min-width:37.5em){
      display: none;
    }
  }

  &__menu {
    width: 100%;
    background-color: var(--color-black);
    line-height: 1.8;
    padding: .5rem 0;

    @media screen and (min-width:37.5em){
      width: auto;
      background-color: transparent;
    }
  }

  &__list {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all .3s cubic-bezier(0, 1, 0, 1);
    
    @media screen and (min-width:37.5em){
      flex-direction: row;
      overflow: visible;
      display: flex;
      color: var(--color-black);
      opacity: 1;
    }

    &-active {
      max-height: 100vh;
      opacity: 1;
      transition: all .5s;
    }
  }

  &__item{
    font-size: 1.6rem;
    margin: 0 1rem;
    padding: 1rem 0;

    & a {
      color: var(--color-white);

      @media screen and (min-width:37.5em){
        color: var(--color-black);
      }
    }

    @media screen and (min-width:37.5em){
      flex-direction: row;
    }
    
  }
}