.skills {
  transition: var(--transition);
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    align-content: center;
    background-color: #ffffff;
    padding: 10rem 2rem 0rem 2rem;
    position: relative;



  &__header {
    text-align: left;
        display: block;
        width: 100rem;

    & h3 {
      font-size: 3rem;
      font-family: josefinsans;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100rem;
    position: relative;
    top: -20rem;

    @media screen and (min-width: 37.5em) {
      margin: 0;
      flex-direction: column;
   }

   @media screen and (min-width: 56.5em) {
    flex-direction: row;
 }
  
}

  &__designer, &__frontend,  &__others {
      align-self: start;
      font-size: 1.6rem;
      height: 30rem;
      width: 25rem;

      @media screen and (min-width: 56.5em) {
        width: 100%;
     }
      
  }

  &__arrow {
    align-self: center;
  }
}

.frontend{
  background-color: var(--color-secondary) !important;

  & h2 {
    color: var(--color-white);
  }
}